.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    background-color: #fff4e6;
    border:5px red;
    
}

.grid > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #0f0d0c;
  }
  div.container {
    width: 100%;
    border: 1px solid gray;
}